/* // mockup page: https://github.com/chubin/wttr.in// */

body {
  display: grid;
  grid-template-rows: span 25;
  grid-template-columns: span 4;
  grid-auto-flow: column;
  /* gap: 1em;  */
}

header {
  /* grid-area: header; */
  /* height: 150px;
  margin: 5rem, auto; */
  /* width: min(90%, 75rem); */
  display: grid;
  grid-column: span 4;
  background-color: #248080;
  text-align: center;  
}

main {
  /* grid-area: main; */
}

section {
display: grid;
grid-template-columns: span 4;
}


/* Do not change the CSS below. */
/*   
.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
} */
